<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SwmEasy" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="2147483647" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1" passwordFormat="Hashed" applicationName="/" />
      </providers>
    </membership>
    <roleManager cookieTimeout="480" defaultProvider="AspNetSqlRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SwmEasy" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="SwmEasy" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|\SwmEasyDB.mdf;Database=SwmEasyDB;Trusted_Connection=Yes;" />
    <!--<add name="SwmEasyDBEntities" connectionString="metadata=res://*/DataAccess.SwmEasy.csdl|res://*/DataAccess.SwmEasy.ssdl|res://*/DataAccess.SwmEasy.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\SQLExpress;AttachDbFilename=|DataDirectory|\SwmEasyDB.mdf;Database=SwmEasyDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SwmEasyDBEntities" connectionString="metadata=res://*/DataAccess.SwmEasy.csdl|res://*/DataAccess.SwmEasy.ssdl|res://*/DataAccess.SwmEasy.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\SQLExpress;AttachDbFilename=|DataDirectory|\SwmEasyDB.mdf;Database=SwmEasyDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>